#main,
#footer {
	display: none;
}
 .ui-mask {
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.30;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter:alpha(opacity=30);
	-moz-opacity:0.30;
	z-index:5;
	position: absolute;
}